<launch>

<!-- MOOBOT CORE --> 
  <node pkg="rosserial_python" type="serial_node.py" name="moobot_core" output="screen">
    <param name="port" value="/dev/ard_core"/>
    <param name="baud" value="57600"/>
    <param name="tf_prefix" value=""/>
  </node> 

<!-- MOOBOT LIGHTS -->
  <node pkg="rosserial_python" type="serial_node_led.py" name="moobot_lights" output="screen">
    <param name="port" value="/dev/ard_lights"/>
    <param name="baud" value="57600"/>
    <param name="tf_prefix" value=""/>
  </node>

<!-- MOOBOT BMS --> 
  <node pkg="rosserial_python" type="serial_node_bms.py" name="moobot_bms" output="screen">
    <param name="port" value="/dev/ard_bms"/>
    <param name="baud" value="57600"/>
    <param name="tf_prefix" value=""/>
  </node>

<!-- MOOBOT CONVEYOR --> 
  <node pkg="rosserial_python" type="serial_node_conveyor.py" name="moobot_conveyor" output="screen">
    <param name="port" value="/dev/ard_conveyor"/>
    <param name="baud" value="57600"/>
    <param name="tf_prefix" value=""/>
  </node>
<!-- MOOBOT ULTRASONIC 1-2 -->
<include file="$(find moobot_bringup)/launch/moobot_ultrasonic1_2.launch"/>
<!-- MOOBOT ULTRASONIC 3-4 -->
<include file="$(find moobot_bringup)/launch/moobot_ultrasonic3_4.launch"/>
 <!-- Launch Webcam -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="320" />
    <param name="image_height" value="180" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="userptr"/>
    <param name="framerate" value="15" />
  </node>

 <!-- Launch PLC Program --> 
  <node pkg="moobot_plc" type="connect_plc" name="connect_plc" launch-prefix="ethercat_grant" output="screen" />

 <!-- Launch Odom Node -->
  <node pkg="moobot_bringup" type="moobot_odometry" name="moobot_odometry" output="screen" />

 <!-- Launch Nextion -->
  <node pkg="moobot_bringup" type="nextion.py" name="nextion" />

 <!-- PGV Data Matrix Code Reader -->
  <node pkg="moobot_pgv" type="moobot_pgv_scan" name="moobot_pgv" />

</launch>
