 <launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find ros_openimu)/params/ekf.yaml" />
    <param name="odom_used" value="false"/>
  </node>
  <!--
<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 1 map base_footprint 100 " />
<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 base_link imu_link 100 " />  -->
 
 
  <!-- Start EKF for localization 
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find moobot_navigation)/config/localization.yaml" />
    </node>
  </group>-->
  
</launch>
