[Unit]
Description=Mount unit for gnome-3-38-2004, revision 119
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-3-38-2004_119.snap
Where=/snap/gnome-3-38-2004/119
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
