<launch>
    <!-- Set this true for simulation -->
    <arg name="simulation" default="true"/>
    <!-- Select the laser scanner
        Hokuyo: true
        Sick  : false -->
    <arg name="scanner_select" default="false"/>

    <!-- Arguments -->
    <arg name="map_size" default="3000"/>
    <arg name="scan_topic" default="scan_filtered"/>
    <arg name="scan_subscriber_queue_size" default="10"/> <!-- before 5 -->
    <arg name="pub_map_odom_transform" default="true"/>
    <arg name="tf_map_scanmatch_transform_frame_name" default="lazer_pos"/>
    <arg name="odom_frame_arg" value="odom" if="$(arg simulation)"/>
    <arg name="odom_frame_arg" default="odom" unless="$(arg simulation)"/>

    <!-- Prevent an error for an early transformation request from hector node before gazebo starts publishing it -->
    <arg name="node_start_delay" default="5.0" />

    <!-- Robot Description -->
    <arg name="model" default="moobot" />
    <arg name="urdf_model_path" default="$(find moobot_description)/urdf/$(arg model).urdf.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg urdf_model_path)" />

    <!-- Start Gazebo argument "simulation" is set true -->
    <include file="$(find moobot_gazebo)/launch/moobot_spawn.launch" if="$(arg simulation)"/>

    <!-- Joint State and Robot State -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
    <param name="base_frame" value = "base_footprint"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <group unless="$(arg simulation)">
        <!-- Hokuyo Node -->
        <node name="urg_node" pkg="urg_node" type="urg_node" output="screen" if="$(arg scanner_select)">
        <param name="ip_address" value="192.168.0.10" />
        <param name="publish_intensity" value="false" />
        <param name="frame_id" value="laser" />
        <param name="angle_min" value="-1.60876090527" />
        <param name="angle_max" value="1.60876090527" />
        </node>

        <!-- Sick s300 Expert -->
        <rosparam command="load" file="$(find moobot_slam)/config/mys300.yaml" unless="$(arg scanner_select)"/>
        <node name="laser" pkg="cob_sick_s300" type="cob_sick_s300" respawn="false" output="screen" unless="$(arg scanner_select)" />

        <node pkg="tf" type="static_transform_publisher" name="basescan_to_laser" 
        args="0 0 0 0 0 0 /base_scan /laser 50" />
        <node pkg="tf" type="static_transform_publisher" name="base_to_odom" 
        args="0 0 0 0 0 0 /odom /base_footprint 50" />
        
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="limit_scan_angle">
        <rosparam command="load" file="$(find moobot_slam)/config/laserscan_filter.yaml" />
        </node>
    </group>
    <!---Gmapping node -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="map"/>
        <param name="odom_frame" value="$(arg odom_frame_arg)"/>
        <param name="map_update_interval" value="5.0"/>
        <param name="maxUrange" value="6.0"/>
        <param name="maxRange" value="8.0"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
        <param name="iterations" value="5"/>
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/>
        <param name="minimumScore" value="200"/>
        <param name="srr" value="0.01"/>
        <param name="srt" value="0.02"/>
        <param name="str" value="0.01"/>
        <param name="stt" value="0.02"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="angularUpdate" value="0.436"/>
        <param name="temporalUpdate" value="-1.0"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="80"/>
    <!--
        <param name="xmin" value="-50.0"/>
        <param name="ymin" value="-50.0"/>
        <param name="xmax" value="50.0"/>
        <param name="ymax" value="50.0"/>
    make the starting size small for the benefit of the Android client's memory...
    -->
        <param name="xmin" value="-1.0"/>
        <param name="ymin" value="-1.0"/>
        <param name="xmax" value="1.0"/>
        <param name="ymax" value="1.0"/>

        <param name="delta" value="0.05"/>
        <param name="llsamplerange" value="0.01"/>
        <param name="llsamplestep" value="0.01"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>
        <remap from="scan" to="$(arg scan_topic)"/> <!--TODO burada scan konusunu gozden gecir-->
  </node>
</launch>